################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstateMangement/.vs/RealEstateMangement/v15/Server/sqlite3/storage.ide-wal
/RealEstateMangement/.vs/RealEstateMangement/v15/Server/sqlite3/storage.ide-shm
/RealEstateMangement/.vs/RealEstateMangement/v15/Server/sqlite3/storage.ide
/RealEstateMangement/.vs/RealEstateMangement/v15/Server/sqlite3/db.lock
/RealEstateMangement/.vs/RealEstateMangement/v15/.suo
